@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Audiowide';
  background: url('./images/blob-scene-haikei\(1\).svg') no-repeat;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 10px 20px;
}

#mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#logotxt {
  color: #fbae3c;
  font-size: 30px;
  font-weight: 100;
}

#logo {
  width: 40px;
}

a {
  text-decoration: none;
  color: #001220;
}

.optns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optns > p {
  color: #fbae3c;
  font-size: 20px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 60px;
}

button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}


.buttons {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

#scrs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#scoreBoard {
  color: aliceblue;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#yourscr,
#compscr,
#res{
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
  padding: 10px;
  border: 2px solid #fbae3c;
  border-radius: 15px;
  gap: 30px;
}

#res{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 134px;
  padding: 0px 30px 0px 30px;
}
